<div class="col">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">{{ this }}</h5>
        </div>
        <img src="/assets/img/{{ this }}.png" class="card-img-top p-3" alt="...">
    </div>
</div>