<div class="nav position-sticky">
    <a href="" class="logo">Mercado Web</a>
    <a class="butn" onclick="toggleMenu();">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </a>
    <ul class="navigation pt-3">
        <li><a href="" style="--i:1;" onclick="" data-bs-toggle="modal" data-bs-target="#cartModal">Carrito</a></li>
    </ul>
</div>