<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/navbar.css" />
    <title>Mercado Web</title>
</head>
<body>
    {{> navbar }}

    <div class="container pt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">
            {{#each productos }}
                {{> productos }}
            {{/each}}
        </div>
    </div>
    {{> modal}}

    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>